body {
  margin: 0;
  background-image: linear-gradient(to bottom, #2e40a7,#94FCD5);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
